@import "tailwindcss";
:root {
  --white: #ffffff;
  --black: #000;

  --purple-50: #f4f0ff;
  --purple-100: #ece4ff;
  --purple-200: #daccff;
  --purple-300: #bfa4ff;
  --purple-400: #a370ff;
  --purple-500: #8937ff;
  --purple-600: #7f0fff;
  --purple-700: #7300ff;
  --purple-800: #6000da;
  --purple-900: #46009b;
  --purple-950: #2f007a;

  --orange-50: #fffaec;
  --orange-100: #fff4d3;
  --orange-200: #ffe4a5;
  --orange-300: #ffd06d;
  --orange-400: #ffaf32;
  --orange-500: #ff950a;
  --orange-600: #ff7d00;
  --orange-700: #cc5b02;
  --orange-800: #a1460b;
  --orange-900: #823b0c;
  --orange-950: #461c04;

  --accent-50: #f2f5fc;
  --accent-100: #e1e9f8;
  --accent-200: #cad9f3;
  --accent-300: #a6c1ea;
  --accent-400: #7ba1df;
  --accent-500: #5c82d5;
  --accent-600: #4867c8;
  --accent-700: #3a50ac;
  --accent-800: #374696;
  --accent-900: #313e77;
  --accent-950: #222849;

  --neutral-50: #fafafa;
  --neutral-100: #efefef;
  --neutral-200: #dcdcdc;
  --neutral-300: #bdbdbd;
  --neutral-400: #989898;
  --neutral-500: #7c7c7c;
  --neutral-600: #656565;
  --neutral-700: #525252;
  --neutral-800: #464646;
  --neutral-900: #3d3d3d;
  --neutral-950: #292929;

  /* semantic colors*/
  --sucess-50: #f2fcf1;
  --sucess-100: #dffbdd;
  --sucess-200: #dffbdd;
  --sucess-300: #8fea8b;
  --sucess-400: #56d751;
  --sucess-500: #30c52b;
  --sucess-600: #209d1c;
  --sucess-700: #1d7b1a;
  --sucess-800: #1b611a;
  --sucess-900: #175017;
  --sucess-950: #072c07;

  --error-50: #fff1f1;
  --error-100: #ffe0e0;
  --error-200: #ffc6c6;
  --error-300: #ff9e9e;
  --error-400: #ff6565;
  --error-500: #fe3535;
  --error-600: #ec1616;
  --error-700: #da1010;
  --error-800: #a41010;
  --error-900: #871515;
  --error-950: #4a0505;

  --warning-50: #fdfbe9;
  --warning-100: #faf6c7;
  --warning-200: #f7e991;
  --warning-300: #f1d753;
  --warning-400: #ebc124;
  --warning-500: #dbaa17;
  --warning-600: #c08611;
  --warning-700: #975f11;
  --warning-800: #7d4c16;
  --warning-900: #6b3e18;
  --warning-950: #6b3e18;

  --space-spacing-01: 2px;
  --space-spacing-02: 4px;
  --space-spacing-03: 8px;
  --space-spacing-04: 14px;
  --space-spacing-05: 16px;
  --space-spacing-06: 24px;
  --space-spacing-07: 32px;

  --corner-radius-1: 2px;
  --corner-radius-2: 4px;
  --corner-radius-3: 8px;
  --corner-radius-4: 16px;
  --corner-radius-5: 24px;
}

 

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--neutral-50);
  scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
